# Build Folders
bin/
obj/

# Visual Studio
.ou
*.user
*.suo
*.sln.docstates

# NuGet Packages
*.nupkg
Packages/

# Resharper
_ReSharper*/
*.[Rr]esharper

# Mac Files
*.DS_Store

# Windows File
Thumbs.db

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Logs
*.log

# DotNet
project.lock.json
project.fragment.lock.json
artifacts/

#  Backup & Temporary
*.bak
*.swp
*.tmp
